.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f7f7f7;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo{
    height: 90px;
    object-fit: contain;
}


